static/cispec.dtd

<!-- SPDX-License-Identifier: BSD-2-Clause
     cispec.dtd — org.cispec v1.0 — 51 terms
     Canonical governance: https://cispec.org/
     Note: Use cispec.xsd for strict value-format validation. -->

<!ELEMENT CISpecLabelSet (core,
  oid?, duns?,
  customer?, costcenter?, cost?, unitCost?, billingModel?,
  depreciation?, contractRef?, usage?, vendor?,
  specversion?, environment?, expiry?, acquired?,
  custodyChain?, checksum?,
  assetTag?, serialNumber?, manufacturer?, make?, model?,
  netType?, ipAddress?, macAddress?, fqdn?,
  caseId?, collectionMethod?,
  assuranceLevel?, keyType?,
  facilityClass?, capacity?,
  contractType?, counterparty?,
  algorithm?, keyLength?,
  location?,
  classification?, retention?, boundary?, exposure?,
  scanPolicy?, configBaseline?,
  sla?, commonname?,
  extensions?)>
<!ATTLIST CISpecLabelSet specVersion CDATA #IMPLIED>

<!-- Core — all 6 REQUIRED for Declared conformance -->
<!ELEMENT core (organization, orgunit, owner, role, application, version)>
<!ELEMENT organization   (#PCDATA)>  <!-- 42387.2.1   Owning org slug. X.500 O -->
<!ELEMENT orgunit        (#PCDATA)>  <!-- 42387.2.1.1 Org unit slug. X.500 OU -->
<!ELEMENT owner          (#PCDATA)>  <!-- 42387.2.1.2 Accountable party -->
<!ELEMENT role           (#PCDATA)>  <!-- 42387.2.1.3 Operational role — universal -->
<!ELEMENT application    (#PCDATA)>  <!-- 42387.2.1.4 Designed purpose — universal -->
<!ELEMENT version        (#PCDATA)>  <!-- 42387.2.4   Semver 2.0 version -->

<!-- Registry -->
<!ELEMENT oid            (#PCDATA)>  <!-- 42387.2.2   Client OID arc pointer -->
<!ELEMENT duns           (#PCDATA)>  <!-- 42387.2.2.1 D&B DUNS in OID notation -->

<!-- Financial -->
<!ELEMENT customer       (#PCDATA)>  <!-- 42387.2.3   Customer identifier -->
<!ELEMENT costcenter     (#PCDATA)>  <!-- 42387.2.3.1 Cost centre identifier -->
<!ELEMENT cost           (#PCDATA)>  <!-- 42387.2.3.2 Acquisition cost -->
<!ELEMENT unitCost       (#PCDATA)>  <!-- 42387.2.3.3 Ongoing cost rate -->
<!ELEMENT billingModel   (#PCDATA)>  <!-- 42387.2.3.4 Billing structure -->
<!ELEMENT depreciation   (#PCDATA)>  <!-- 42387.2.3.5 Depreciation method:period -->
<!ELEMENT contractRef    (#PCDATA)>  <!-- 42387.2.3.6 Procurement vehicle pointer -->
<!ELEMENT usage          (#PCDATA)>  <!-- 42387.2.3.7 Quantity consumed:unit -->
<!ELEMENT vendor         (#PCDATA)>  <!-- 42387.2.3.8 Seller/servicer -->

<!-- Lifecycle -->
<!ELEMENT specversion    (#PCDATA)>  <!-- 42387.2.4.1 Spec version -->
<!ELEMENT environment    (#PCDATA)>  <!-- 42387.2.4.2 Operational programme/zone -->
<!ELEMENT expiry         (#PCDATA)>  <!-- 42387.2.4.3 Expiry/EOL date ISO 8601 -->
<!ELEMENT acquired       (#PCDATA)>  <!-- 42387.2.4.4 Acquisition date ISO 8601 -->

<!-- Custody -->
<!ELEMENT custodyChain   (#PCDATA)>  <!-- 42387.2.5   Custody record pointer -->
<!ELEMENT checksum       (#PCDATA)>  <!-- 42387.2.5.1 algorithm:hexdigest -->

<!-- Hardware CI-type -->
<!ELEMENT assetTag       (#PCDATA)>  <!-- 42387.2.6.2.1 Org-assigned inventory number -->
<!ELEMENT serialNumber   (#PCDATA)>  <!-- 42387.2.6.2.2 OEM-assigned serial -->
<!ELEMENT manufacturer   (#PCDATA)>  <!-- 42387.2.6.2.3 OEM -->
<!ELEMENT make           (#PCDATA)>  <!-- 42387.2.6.2.4 Product line -->
<!ELEMENT model          (#PCDATA)>  <!-- 42387.2.6.2.5 Specific variant/SKU -->

<!-- Network CI-type -->
<!ELEMENT netType        (#PCDATA)>  <!-- 42387.2.6.4.1 NE type classification -->
<!ELEMENT ipAddress      (#PCDATA)>  <!-- 42387.2.6.4.2 Primary IP address -->
<!ELEMENT macAddress     (#PCDATA)>  <!-- 42387.2.6.4.3 Hardware MAC address -->
<!ELEMENT fqdn           (#PCDATA)>  <!-- 42387.2.6.4.4 Fully-qualified domain name -->

<!-- Evidence extended -->
<!ELEMENT caseId         (#PCDATA)>  <!-- 42387.2.6.5.1 Case/matter identifier -->
<!ELEMENT collectionMethod (#PCDATA)><!-- 42387.2.6.5.2 Collection method slug -->

<!-- Access/credential -->
<!ELEMENT assuranceLevel (#PCDATA)>  <!-- 42387.2.6.6.1 IAL/AAL assurance level -->
<!ELEMENT keyType        (#PCDATA)>  <!-- 42387.2.6.6.2 Key/credential type -->

<!-- Facility -->
<!ELEMENT facilityClass  (#PCDATA)>  <!-- 42387.2.6.7.1 Tier/class per framework -->
<!ELEMENT capacity       (#PCDATA)>  <!-- 42387.2.6.7.2 Rated capacity -->

<!-- Contract CI-type -->
<!ELEMENT contractType   (#PCDATA)>  <!-- 42387.2.6.8.1 Contract category -->
<!ELEMENT counterparty   (#PCDATA)>  <!-- 42387.2.6.8.2 Other party to agreement -->

<!-- Crypto -->
<!ELEMENT algorithm      (#PCDATA)>  <!-- 42387.2.6.9.1 Cryptographic algorithm -->
<!ELEMENT keyLength      (#PCDATA)>  <!-- 42387.2.6.9.2 Key bit length -->

<!-- Physical -->
<!ELEMENT location       (#PCDATA)>  <!-- 42387.2.7   Physical location -->

<!-- Governance/compliance -->
<!ELEMENT classification (#PCDATA)>  <!-- 42387.2.8   Regulatory/safety category -->
<!ELEMENT retention      (#PCDATA)>  <!-- 42387.2.8.1 Retention schedule pointer -->
<!ELEMENT boundary       (#PCDATA)>  <!-- 42387.2.8.2 Authorization boundary -->
<!ELEMENT exposure       (#PCDATA)>  <!-- 42387.2.8.3 public|restricted|private -->
<!-- EXPERIMENTAL -->
<!ELEMENT scanPolicy     (#PCDATA)>  <!-- 42387.2.8.4 Scanning policy -->
<!ELEMENT configBaseline (#PCDATA)>  <!-- 42387.2.8.5 Config baseline pointer -->

<!-- Service management -->
<!ELEMENT sla            (#PCDATA)>  <!-- 42387.2.9   SLA/maintenance commitment -->
<!ELEMENT commonname     (#PCDATA)>  <!-- 42387.2.9.1 Human-readable name -->

<!-- Extensions -->
<!ELEMENT extensions (extension*)>
<!ELEMENT extension (termName, termValue)>
<!ELEMENT termName  (#PCDATA)>
<!ELEMENT termValue (#PCDATA)>
