static/cispec.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  SPDX-License-Identifier: BSD-2-Clause
  cispec.xsd — XML Schema for org.cispec v1.0 — 51 terms
  Canonical governance: https://cispec.org/
  Validation toolkit:   https://cimatrix.org/
  Namespace: https://cispec.org/ns/1.0
-->
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cispec="https://cispec.org/ns/1.0"
  targetNamespace="https://cispec.org/ns/1.0"
  elementFormDefault="qualified"
  version="1.0">

  <!-- Primitive types -->
  <xs:simpleType name="SlugType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z0-9][a-z0-9\-]*[a-z0-9]|[a-z0-9]"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IdentityType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="512"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VersionType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(.*?))?(\+.*)?"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OIDStringType">
    <xs:restriction base="xs:string"><xs:minLength value="1"/></xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DUNSStringType">
    <xs:restriction base="xs:string">
      <xs:pattern value="iso\.org\.duns\.[0-9]{9}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DigestStringType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z0-9]+:[a-fA-F0-9]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ISODateType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}Z)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MACAddressType">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9a-f]{2}:){5}[0-9a-f]{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ExposureType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="public"/>
      <xs:enumeration value="restricted"/>
      <xs:enumeration value="private"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Extension term -->
  <xs:complexType name="ExtensionType">
    <xs:sequence>
      <xs:element name="termName"  type="xs:string"/>
      <xs:element name="termValue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Core labels (6 required elements) -->
  <xs:complexType name="CoreLabelsType">
    <xs:sequence>
      <xs:element name="organization" type="cispec:SlugType"/>     <!-- 42387.2.1 -->
      <xs:element name="orgunit"      type="cispec:SlugType"/>     <!-- 42387.2.1.1 -->
      <xs:element name="owner"        type="cispec:IdentityType"/> <!-- 42387.2.1.2 -->
      <xs:element name="role"         type="cispec:SlugType"/>     <!-- 42387.2.1.3 -->
      <xs:element name="application"  type="xs:string"/>           <!-- 42387.2.1.4 -->
      <xs:element name="version"      type="cispec:VersionType"/>  <!-- 42387.2.4 -->
    </xs:sequence>
  </xs:complexType>

  <!-- Root element -->
  <xs:element name="CISpecLabelSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="core" type="cispec:CoreLabelsType"/>

        <!-- Registry -->
        <xs:element name="oid"           type="cispec:OIDStringType"  minOccurs="0"/>
        <xs:element name="duns"          type="cispec:DUNSStringType" minOccurs="0"/>

        <!-- Financial -->
        <xs:element name="customer"      type="xs:string"             minOccurs="0"/>
        <xs:element name="costcenter"    type="xs:string"             minOccurs="0"/>
        <xs:element name="cost"          type="xs:string"             minOccurs="0"/>
        <xs:element name="unitCost"      type="xs:string"             minOccurs="0"/>
        <xs:element name="billingModel"  type="xs:string"             minOccurs="0"/>
        <xs:element name="depreciation"  type="xs:string"             minOccurs="0"/>
        <xs:element name="contractRef"   type="xs:string"             minOccurs="0"/>
        <xs:element name="usage"         type="xs:string"             minOccurs="0"/>
        <xs:element name="vendor"        type="xs:string"             minOccurs="0"/>

        <!-- Lifecycle -->
        <xs:element name="specversion"   type="xs:string"             minOccurs="0"/>
        <xs:element name="environment"   type="xs:string"             minOccurs="0"/>
        <xs:element name="expiry"        type="cispec:ISODateType"    minOccurs="0"/>
        <xs:element name="acquired"      type="cispec:ISODateType"    minOccurs="0"/>

        <!-- Custody -->
        <xs:element name="custodyChain"  type="xs:string"             minOccurs="0"/>
        <xs:element name="checksum"      type="cispec:DigestStringType" minOccurs="0"/>

        <!-- Hardware CI-type -->
        <xs:element name="assetTag"      type="xs:string"             minOccurs="0"/>
        <xs:element name="serialNumber"  type="xs:string"             minOccurs="0"/>
        <xs:element name="manufacturer"  type="xs:string"             minOccurs="0"/>
        <xs:element name="make"          type="xs:string"             minOccurs="0"/>
        <xs:element name="model"         type="xs:string"             minOccurs="0"/>

        <!-- Network CI-type -->
        <xs:element name="netType"       type="cispec:SlugType"       minOccurs="0"/>
        <xs:element name="ipAddress"     type="xs:string"             minOccurs="0"/>
        <xs:element name="macAddress"    type="cispec:MACAddressType" minOccurs="0"/>
        <xs:element name="fqdn"          type="xs:string"             minOccurs="0"/>

        <!-- Evidence extended -->
        <xs:element name="caseId"        type="xs:string"             minOccurs="0"/>
        <xs:element name="collectionMethod" type="cispec:SlugType"    minOccurs="0"/>

        <!-- Access/credential -->
        <xs:element name="assuranceLevel" type="xs:string"            minOccurs="0"/>
        <xs:element name="keyType"        type="cispec:SlugType"      minOccurs="0"/>

        <!-- Facility -->
        <xs:element name="facilityClass" type="xs:string"             minOccurs="0"/>
        <xs:element name="capacity"      type="xs:string"             minOccurs="0"/>

        <!-- Contract CI-type -->
        <xs:element name="contractType"  type="cispec:SlugType"       minOccurs="0"/>
        <xs:element name="counterparty"  type="xs:string"             minOccurs="0"/>

        <!-- Crypto -->
        <xs:element name="algorithm"     type="xs:string"             minOccurs="0"/>
        <xs:element name="keyLength"     type="xs:positiveInteger"    minOccurs="0"/>

        <!-- Physical -->
        <xs:element name="location"      type="xs:string"             minOccurs="0"/>

        <!-- Governance/compliance -->
        <xs:element name="classification" type="xs:string"            minOccurs="0"/>
        <xs:element name="retention"     type="xs:string"             minOccurs="0"/>
        <xs:element name="boundary"      type="xs:string"             minOccurs="0"/>
        <xs:element name="exposure"      type="cispec:ExposureType"   minOccurs="0"/>
        <!-- EXPERIMENTAL -->
        <xs:element name="scanPolicy"    type="xs:string"             minOccurs="0"/>
        <xs:element name="configBaseline" type="xs:string"            minOccurs="0"/>

        <!-- Service management -->
        <xs:element name="sla"           type="xs:string"             minOccurs="0"/>
        <xs:element name="commonname"    type="xs:string"             minOccurs="0"/>

        <!-- Extensions -->
        <xs:element name="extensions" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="extension" type="cispec:ExtensionType"
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="specVersion" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
